[submodule "libs/menori"]
	path = legacy/libs/menori
	url = https://github.com/rozenmad/Menori.git
[submodule "client/libs/menori"]
	path = client/libs/menori
	url = https://github.com/rozenmad/Menori.git
